.*.swp
cookbooks
.vagrant
Cheffile.lock
tmp
src/requirements.txt.md5
src/packages.zip
*.pyc
src/instance
.DS_Store

# Non-shared default recipe extension
site-cookbooks/ggrc/recipes/local.rb

# Asset-pipeline/cache related files
src/ggrc/static/.webassets-cache
src/ggrc/static/assets.manifest
src/ggrc/static/dashboard-*
src/ggrc/assets/stylesheets/dashboard.css
src/ggrc/assets/stylesheets/design.css
src/ggrc/.sass-cache

# sphinx build files
doc/_build
