{{! dashboard object listing}}
<ul class="tree-structure simple single-row-tabs">
{{#list}}
  <li data-model="true" {{data 'model'}} class="{{object_type}}"> 
    <a data-popover-trigger="sticky-hover" data-sticky-popover="true" data-popover-href="{{viewLink}}/tooltip">
      {{{withattr "href" "{viewLink}"}}}
      <div class="row-fluid">
        <div class="span10">
          <div class="item-identifier">
            <span class="title">
              {{title}}
            </span>
            <span class="code">
              <span>{{slug}}</span>
            </span>
          </div>
        </div>

        <div class="span2">
          {{!FIXME: ! if instance.owner is not none and instance.owner != ''}}
          {{^owner}}
            <div class="pull-right">
              <i class="grcicon-people-warning"></i>
            </div>
          {{/owner}}
        </div>
      </div>
    </a>
  </li>
{{/list}}
</ul>
