<div class="selector-info" style="margin-right:-10%;">
  {{!<div class="pull-right">
    <a class="btn btn-mini" rel="tooltip" title="Edit">
      <i class="grcicon-edit"></i>
    </a>
    <a class="btn btn-mini" rel="tooltip" title="Remove">
      <i class="grcicon-remove"></i>
    </a>
  </div>
  <p>
    <img src="/static/images/sample/profile100.jpg" alt="">
  </p>}}
  <h4>
    {{ name }}
    <br>
    {{ email }}
    <br>
    {{!<small>
      Google, inc
    </small>
    <small></small>
    }}
    <br>
    <a href="mailto:{{ email }}">
      {{ email }}
    </a>
  </h4>
</div>
