<div class="row-fluid">
    <div class="span3">
      &nbsp;
    </div>
    <div class="span9">
      <div class="confirm-buttons">
        <a class="btn btn-primary" data-dismiss="modal" href="javascript://">Close</a>
      </div>
    </div>
  </div>