{{!div class="modal-footer"}}
  <div class="row-fluid">
    <div class="span3">
      <div class="deny-buttons">
        <a class="btn" data-dismiss="modal-reset" href="#">Cancel</a>
      </div>
    </div>
    <div class="span6">
      &nbsp;
    </div>
    <div class="span3">
      <div class="confirm-buttons">
        <a class="btn btn-primary preventdoubleclick {{#instance.computed_errors}}disabled{{/instance.computed_errors}}" data-toggle="modal-submit" href="javascript://">Save</a>
      </div>
    </div>
  </div>
{{!/div}}