<div class="selector-info">
  <h4>
    <i class="grcicon-user-black"></i>
    Related People ({{joins.length}})
  </h4>
  <ul class="linked-people">
    {{#actives}}
    <li class="{{#if _removed}}removed{{/if}}">
      {{!<select class="role pull-right">
        <option>
          Accountable
        </option>
        <option>
          Responsible
        </option>
      </select>}}
      <a class="jump-to-control" href="#">
        <span>
          {{option.title}}
          &nbsp;
        </span>
      </a>
    </li>
    {{/actives}}
  </ul>
</div>
