{{!<div id='{ id }' class='modal modal-selector fade hide' tabindex='-1'>}}
    <div class="modal-header">
      <div class="pull-right">
        <a class="btn btn-mini" href="#" data-dismiss="modal">
          <i class="grcicon-x-grey"></i>
        </a>
      </div>
      <h2>
        {{ modal_title }}
      </h2>
    </div>
    <div class="modal-filter">
      <div class="row-fluid">
        <div class="span3">
          &nbsp;
        </div>
        <div class="span6">
          <div class="modal-search">
            <a class="btn btn-mini search-reset" href="#">
              <i class="grcicon-x-grey"></i>
            </a>
            <input class="input-block-level" placeholder="Search people" type="text">
          </div>
        </div>
        <div class="span3">
          <div class="pull-right">
            <a class="btn btn-add" href="javascript://" data-toggle="modal-ajax-form" data-modal-class="modal-wide" data-object-singular="{{related_model_singular}}" data-object-plural="{{related_table_plural}}">
              <i class="grcicon-add"></i>
              {{ new_object_title }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-content">
      <div class="row-fluid">
        <div class="span3 detail_column">
          {{#selected}}
            {{{ renderLive option_detail_view }}}
          {{/selected}}
        </div>
        <div class="span4 option_column">
          {{{ renderLive option_column_view }}}
        </div>
        <div class="span5 active_column" style="margin-left:0; width:42.17094%">
          {{{ renderLive active_column_view }}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row-fluid">
        <div class="span6">
          <div class="deny-buttons"></div>
        </div>
        <div class="span6">
          <div class="confirm-buttons">
            <a class="btn btn-primary preventdoubleclick" xdata-toggle="modal-submit" data-dismiss="modal" href="#">
              Close
            </a>
          </div>
        </div>
      </div>
    </div>
{{!</div>}}
