-extends "layouts/dashboard.haml"

-block title
  Dashboard

-block page_help
  dashboard

-block header
  %ul.breadcrumbs
    &nbsp;

  %h1.dashboard-title
    %i.grciconlarge-dashboard
    Dashboard

-block main
  .container-fluid
    #columns.row-fluid{ 'data-resize': "true" }
      #left_column.span6.widget-area
        -with widget_class = 'widget-tabs'
          -include 'dashboard/_governance.haml'
          -include 'dashboard/_business_objects.haml'
        -include 'shared/_add_widget_section.haml'

      #right_column.span6.widget-area
        -with widget_class = 'widget-tabs'
          -include 'dashboard/_programs.haml'
          -#if g.user.can_manage_risk()
          -include 'dashboard/_risk.haml'
        -include 'shared/_add_widget_section.haml'
