
-macro _tab(type, type_plural, path, li_class='')
  %li{ 'class': '{{ li_class }}' }
    %a{ 'href': '#{{ prefix }}_{{ type_plural|underscore }}', 'data-tab-href': '{{ path }}', 'data-toggle': 'tab' }
      %i{ 'class': 'grcicon-{{ type|lower|nospace }}-color' }
      {{ type_plural|title }}
-endmacro

-set quick_result = quick_result if quick_result is defined else None
-set prefix = "qf" if quick_result else "dash"
-set tabbable_id = '' if quick_result is defined else 'quick_find'

.tabbable.tabs-left{ 'id': "{{ tabbable_id }}" }
  %ul.nav.nav-tabs
    =_tab("Control", "Controls", "flow_controls_path(:quick => true, :qr => quick_result)", "active")
    =_tab("Regulation", "Regulations", "flow_directives_path(:quick => true, :qr => quick_result, :meta_kind => :regulation)")
    =_tab("Policy", "Policies", "flow_directives_path(:quick => true, :qr => quick_result, :meta_kind => :policy)")
    =_tab("Contract", "Contracts", "flow_directives_path(:quick => true, :qr => quick_result, :meta_kind => :contract)")
    -#FIXME: Restrict to risk managers
    -#if current_user.can_manage_risk?
    =_tab("Risk", "Risks", "flow_risks_path(:quick => true, :qr => quick_result)")
    =_tab("Attribute", "Attributes", "flow_risky_attributes_path(:quick => true, :qr => quick_result)")
    =_tab("Process", "Processes", "flow_systems_path(:quick => true, :qr => quick_result, :is_biz_process => true)")
    =_tab("System", "Systems", "flow_systems_path(:quick => true, :qr => quick_result, :is_biz_process => false)")
    =_tab("Org Group", "Org Groups", "flow_org_groups_path(:quick => true, :qr => quick_result)")
    =_tab("Project", "Projects", "flow_projects_path(:quick => true, :qr => quick_result)")
    =_tab("Facility", "Facilities", "flow_facilities_path(:quick => true, :qr => quick_result)")
    =_tab("Product", "Products", "flow_products_path(:quick => true, :qr => quick_result)")
    =_tab("Data Asset", "Data Assets", "flow_data_assets_path(:quick => true, :qr => quick_result)")
    =_tab("Market", "Markets", "flow_markets_path(:quick => true, :qr => quick_result)")
    =_tab("Program", "Programs", "flow_programs_path(:quick => true, :qr => quick_result)")

  .tab-content
    .tab-pane.active{ 'id': "{{ prefix }}_controls" }
    .tab-pane{ 'id': "{{ prefix }}_processes" }
    .tab-pane{ 'id': "{{ prefix }}_systems" }
    .tab-pane{ 'id': "{{ prefix }}_products" }
    -#FIXME: Restrict to risk managers
    -#if current_user.can_manage_risk?
    .tab-pane{ 'id': "{{ prefix }}_risks" }
    .tab-pane{ 'id': "{{ prefix }}_attributes" }
    .tab-pane{ 'id': "{{ prefix }}_org_groups" }
    .tab-pane{ 'id': "{{ prefix }}_facilities" }
    .tab-pane{ 'id': "{{ prefix }}_markets" }
    .tab-pane{ 'id': "{{ prefix }}_projects" }
    .tab-pane{ 'id': "{{ prefix }}_data_assets" }
    .tab-pane{ 'id': "{{ prefix }}_regulations" }
    .tab-pane{ 'id': "{{ prefix }}_policies" }
    .tab-pane{ 'id': "{{ prefix }}_contracts" }
    .tab-pane{ 'id': "{{ prefix }}_programs" }

