{{!div class="modal-header"}}
  {{#if content}}
    {{#allow_help_edit}}
      <a class="btn btn-mini pull-right help-edit" data-toggle='collapse' href='#helpedit' title="Edit Help" rel="tooltip" data-placement="left">
        <i class="grcicon-edit"></i>
      </a>
    {{/allow_help_edit}}
    <span>{{title}}</span>
    {{^title}}
      <span>
      {{slug}}
      Help
      </span>
    {{/title}}
  {{else}}
    {{#allow_help_edit}}
      <a class="btn btn-mini pull-right help-edit" data-toggle='collapse' href='#helpedit' title="Edit Help" rel="tooltip" data-placement="left">
        <i class="grcicon-edit"></i>
      </a>
    {{/allow_help_edit}}
    GRC Help
  {{/if}}
{{!/div}}
