{{!div class="modal-body"}}
{{#instance}}
<form action="javascript://">
  <div class="row-fluid">
    <div class="span6">
      <label>
        Title
        <i class="grcicon-help-black"></i>
      </label>
      <input class="input-block-level" placeholder="Enter Title" name="title" type="text" value="{{this.title}}">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <label>
        Description
        <i class="grcicon-help-black"></i>
      </label>
      <div class="wysiwyg-area">
        <textarea id="system_description" class="span12 double wysihtml5" name="description" placeholder="Enter Description">{{{description}}}</textarea>
      </div>
    </div>
    <div class="span6">
      <label>
        Owner/Person of Contact
        <i class="grcicon-help-black"></i>
      </label>
      <input class="input-block-level" name="owner" placeholder="Enter email address" type="text" value="{{owner}}">
      <label>
        Data Asset URL
        <i class="grcicon-help-black"></i>
      </label>
      <input class="input-block-level" name="url" placeholder="http://www.domain.com/" type="text" value="{{url}}">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="expand-link">
        <a class="show-hidden-fields" href="javascript://">
          <span class="out">
            <i class="grcicon-show"></i>
            Show 
          </span>
          <span class="in">
            <i class="grcicon-hide"></i>
            Hide
          </span>
          Advanced
          <span class="hidden-fields out">
            Code, Kind/Type, Reference URL
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="hidden-fields-area" style="display:none">
    <div class="row-fluid">
      <div class="span3">
        <label>
          Code
          <i class="grcicon-help-black"></i>
        </label>
        <input class="input-block-level" name="slug" placeholder="PRODUCT-XXX" type="text" value="{{slug}}">
      </div>
      <div class="span3">
        <label>
          Kind/Type
          <i class="grcicon-help-black"></i>
        </label>
        {{!FIXIT: Need real values for kind/type}}
        <select class="input-block-level" name="kind">
          <option value="">Choose</option>
        </select>
      </div>
      <div class="span6">
        <label>
          Reference URL
          <i class="grcicon-help-black"></i>
        </label>
        <input class="input-block-level" name="url" placeholder="http://www.domain.com/" type="text" value="{{url}}">
      </div>
    </div>
  </div>
</form>
{{/instance}}
{{!/div}}
